*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* en header     width:100% inherente, no hay que ponerlo */

header{
    height: 150px;
    background-color: #42AAFF;
}

main{
    max-width: 1000px;
    padding: 50px;
    align-self: center;
}

footer{
    height: 300 px;
    background-color: #474747;
}